.app {
  color: $blue-dark;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  &__nav {
    padding: 30px;
  }

  &__link {
    color: $blue-dark;
    font-weight: bold;

    &.router-link-exact-active {
      color: $green;
    }
  }
}
